@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container text-center">
        <h1 class="my-5 font-size-base">Добро пожаловать!</h1>
        <p class="lead font-size-base">
            TO DO LIST - это простое и эффективное веб-приложение, разработанное на базе ASP.NET, которое поможет вам организовать и управлять вашими повседневными задачами.
        </p>
        <ul class="list-unstyled font-size-base">
            <li>Создание, редактирование и удаление задач</li>
            <li>Отметка задач как "выполненные"</li>
            <li>Сортировка задач по статусу (выполненные/невыполненные)</li>
            <li>Удобный интерфейс с возможностью быстрого добавления новых задач</li>
        </ul>
        <p class="lead font-size-base">
            Используя "TO DO LIST", вы сможете держать все свои дела под контролем, повысить продуктивность и эффективность. Приложение идеально подходит для личного использования, а также для небольших команд и организаций.
        </p>
        <p class="lead font-size-base">
            Попробуйте "TO DO LIST" прямо сейчас и упростите управление вашими задачами!
        </p>
        <a asp-controller="CreateNewTask" asp-action="CreateTaskView" class="btn btn-primary btn-lg mt-3 font-size-base">Начать работу</a>
    </div>
</body> 
