@{
    ViewData["Title"] = "Home Page";
}
@using Task_manager.Enum;
@using Task_manager.Models;
@using Task_manager.Domain.Respone;

<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи></label>
        <input name="name" type="text" class="form-control"/>
     </div>
    <label class="form-label">Приоритет></label>
     <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Описание задачи></label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn-primary">Создать</button>
</form>
<br/><br/>


@section Scripts
{
    <script type:"text/javascript" src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script>
        const swalWithButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success'
            },
            buttonsStyling: false

        });

    $('#createTask').on('click', function(e){
        e.preventDefault()
        $.ajax({
            type: 'POST',
                url: '@Url.Action("CreateNewTask", "CreateNewTask")',
            data: $('#createTaskForm').serialize(), 
            success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Обновляем страницу только после нажатия кнопки "OK"
                            location.reload();
                        }
                    });
                },
                error : function (response) {
                    Swal.fire({
                        title: 'Ошибка',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'OK'
                })
             }
        })
    })
        
</script>
}

